<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
    <meta name="description" content="
       Coded Sparrow is an Internation based software company with dedicated team,
        helping entrepreneurs, professionals, and small teams streamline success - not just in work, but in life too.
    ">
    <meta name="keywords" content="HTML, CSS, JavaScript, Bootstrap, React, React.js, Node.js, Web development,
    Websit, Web Application, Mobile App, Phone Development, Responsive Design, UI/UX Design, Android, Flutter,
    Express.js, Web Development Company, Startups, E-commerce website development, Rest Apis, MongoDb, FDatabase,
    Mysql , Werb hosting, AWS, Digital Ocean, Herokuu, React App, Remote Works , Freelanc, Freelancin, Freelancers,
    Best website Development company, Best Web application Development , Node, Material UI, ERP Application,
    Poin of Sale , Food Delivery App, Restaurant Booking App, tisana, tisana tech, tisana tech solution, tisana tech solution pvt ltd,">
    <meta name="author" content="Akash Kumar Verma">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- BoxIcons Min CSS -->
    <link rel="stylesheet" href="css/boxicons.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Odometer Min CSS -->
    <link rel="stylesheet" href="css/odometer.min.css">
    <!-- MeanMenu CSS -->
    <link rel="stylesheet" href="css/meanmenu.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="css/magnific-popup.min.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">

    <title>Coded Sparrow - Web & App Services Company</title>

    <link rel="icon" type="image/png" href="img/favicon.png">
</head>

<body>
    <!-- Start Preloader Area -->
    <div class="preloader-area" style="background-color: #13c4a1 !important">
        <div class="spinner">
            <div class="inner">
                <div class="disc"></div>
                <div class="disc"></div>
                <div class="disc"></div>
            </div>
        </div>
    </div>
    <!-- End Preloader Area -->

    <!-- Start Navbar Area -->
    <div class="navbar-area bg-white">
        <div class="strax-responsive-nav">
            <div class="container">
                <div class="strax-responsive-menu">
                    <div class="logo">
                        <h3>Coded Sparrow</h3>
                        <!-- <a href="index">
                            <img src="img/logo.png" alt="logo" width="40%!important">
                        </a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="strax-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <h3>Coded Sparrow</h3>
                    <!-- <a class="navbar-brand" href="index">
                        <img src="img/logo.png" alt="logo" width="40%!important">
                    </a>                    -->
                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav" >
                            <li class="nav-item">
                                <a href="/" class="nav-link active">
                                    Home
                                </a>
                            </li>
                            
                           
                            <li class="nav-item">
                                <a href="about" class="nav-link">About</a>
                            </li>

                         

                            <li class="nav-item">
                                <a href="/" class="nav-link">Blog </i></a>
                              
                            </li>

                            <li class="nav-item">
                                <a href="/" class="nav-link">Portfolio</a>
                            </li>
                          
                            <li class="nav-item">
                                <a href="contact" class="nav-link">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->

    <!-- Start SaaS Main Banner -->
    <div class="saas-banner">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container max-width-1290">
                    <div class="row align-items-center pt-5">
                        <div class="col-lg-6 col-md-12">
                            <div class="hero-content pl-4">
                                <h1>Design, Develop and Connect event-driven apps faster with us</h1>
                                <p>Our passion to work hard and deliver excellent results. It could solve the needs of
                                    your customers and develop innovation.</p>

                                <!-- <div class="banner-btn">
                                    <div class="d-flex">
                                        <a href="contact" class="default-btn">
                                            <i class="bx bxs-hot"></i>
                                            Hire Us
                                            <span></span>
                                        </a>


                                    </div>
                                </div> -->
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="topform--design">
                                <h3 class="title--form">Let's Start Your Project</h3>
                                <form>
                                    <div class="form-group">
                                        <input type="text" name="name" id="" class="form-control inpurt_control" required="" placeholder="Your Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" name="email" id="" class="form-control inpurt_control" required="" placeholder="Your Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="phone_number" id="" required="" class="form-control inpurt_control" placeholder="Your Phone No.">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea name="message" class="form-control textarea_control" id="" placeholder="Write here..."></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn submit_btn">Send Enquiry</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="shape-rotate rotateme">
            <img src="img/saas-shape/shape-rotate.png" alt="img">
        </div>

        <div id="particles-js"></div>
    </div>
    <!-- End SaaS Main Banner -->

    <!-- Start Ouse Services  -->

    <section class="features-area pt-100 pb-70 bg-f4f6fc">
        <div class="container">
            <div class="section-title">
                <h2>Our Services</h2>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bx-laptop bg-9c27b0'></i>
                        <h3>Web Development</h3>
                        <p>We offer building scalable & Secure Web Applications, Portals & Solutions For Your Business.
                        </p>

                        <!-- <a href="single-service.html" class="read-more">
                            Read more
                            <i class='bx bx-right-arrow-alt'></i>
                        </a> -->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bx-mobile bg-6610f2'></i>
                        <h3>Mobile Applications</h3>
                        <p>We build awesome mobile apps that provide lasting value and excitement to users.
                        </p>
<!-- 
                        <a href="single-service.html" class="read-more">
                            Read more
                            <i class='bx bx-right-arrow-alt'></i>
                        </a> -->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bx-cart bg-3f51b5'></i>
                        <h3>eCommerce</h3>
                        <p>Scale your websites and applications to reach more people with quality e-commerce solutions developed by us.
                        </p>

                        <!-- <a href="single-service.html" class="read-more">
                            Read more
                            <i class='bx bx-right-arrow-alt'></i>
                        </a> -->
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bx-conversation bg-13c4a1'></i>
                        <h3>IT Consultancy</h3>
                        <p>We create a strategy that would bring together a diversified IT landscape & make it work towards business.
                        </p>

                    </div>
                </div>

            

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bxs-badge-check bg-ffb700'></i>
                        <h3>IT Solutions</h3>
                        <p>Combining our solution areas gives you access to innovative approaches, modern technology and managed support services.
                        </p>
                    </div>
                </div>

              

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bxs-dashboard bg-e91e63'></i>
                        <h3>Project Management</h3>
                        <p>Project management consultancy services are critical to the success of complex projects within your organization.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bx-data bg-fc3549'></i>
                        <h3>Back End Development</h3>
                        <p>We specialize in developing  REST APIs that are easy to consume, well documented and truly reliable.
                        </p>

                     
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bxs-info-circle bg-00d280'></i>
                        <h3>Custom Application Development</h3>
                        <p>We can convert any business idea into reality using the programming.
                        </p>

                       
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="features-box-one">
                        <i class='bx bx-cog bg-ff612f'></i>
                        <h3>UI/UX Development</h3>
                        <p>We are eager to push the limits in design and give users what they are looking for
                            with best ui experience.
                        </p>

                   
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End our services -->


    <!-- Start Client Reviews -->
    <section class="feedback-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Whats Our Clients Said About <span>Us</span></h2>
            </div>

            <div class="feedback-slides owl-carousel owl-theme">
                <div class="single-feedback-item">
                    <!-- <img src="assets/img/woman1.png" alt="image"> -->

                    <div class="feedback-desc">
                        <p>"Abdul has been very helpful throughout our project, where the process has been very easy and effective".</p>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>

                        <div class="client-info">
                            <h3>Michael Minh Phan, Denmark </h3>
                            <!-- <span>CEO at Envato</span> -->
                        </div>
                    </div>
                </div>

                <div class="single-feedback-item">
                    <!-- <img src="assets/img/woman2.png" alt="image"> -->

                    <div class="feedback-desc">
                        <p>"Akash is a great developer who went above and beyond to help me create the vision I had for my website. I highly recommend him to anyone looking for a reliable programmer who has good insight on what works and what doesn't".</p>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>

                        <div class="client-info">
                            <h3>Nicholas V M, Canada</h3>
                            <!-- <span>CEO at EnvyTheme</span> -->
                        </div>
                    </div>
                </div>

                <div class="single-feedback-item">
                    <!-- <img src="assets/img/woman2.png" alt="image"> -->

                    <div class="feedback-desc">
                        <p>"Abdul is a talented developer who works tirelessly to satisfy the client. He has great knowledge and acted as a consultant as well. He came with suggestions to improve the app all the time. Unlike many other freelancers he is always there to help even after the project is finished. I will work with Abdul for long term".</p>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>

                        <div class="client-info">
                            <h3>Sivasathees Siva, Norway</h3>
                            <!-- <span>CEO at EnvyTheme</span> -->
                        </div>
                    </div>
                </div>

                
                <div class="single-feedback-item">
                    <!-- <img src="assets/img/woman2.png" alt="image"> -->

                    <div class="feedback-desc">
                        <p>"Very talented Android developer. Works very fast, solves the problems immediately. Will work again soon.".</p>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>

                        <div class="client-info">
                            <h3>Sencer Turgut, Turkey</h3>
                            <!-- <span>CEO at EnvyTheme</span> -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- End Client Reviews -->


    <!-- Start Footer Area -->
    <footer class="footer-area">
        <div class="divider" style="background: none"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Coded Sparrow</h3>
                        <!-- <div class="logo">
                            <a href="index"><img src="img/logo.png" width="80%" alt="image"></a>
                        </div> -->
                        <p></p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Company</h3>

                        <ul class="services-list">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Services</a></li>
                            <!-- <li><a href="features-1.html">Features</a></li> -->
                            <!-- <li><a href="pricing.html">Our Pricing</a></li> -->
                            <li><a href="#">Latest News</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Support</h3>

                        <ul class="support-list">
                            <li><a href="#">FAQ's</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Community</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h3>Contact Info</h3>

                        <ul class="footer-contact-info">

                            <li>Email: <a href="mailto:akash@tisanatech.com">akash@tisanatech.com</a></li>
                            <li>Phone: <a href="tel:6287370656">+91 - 6287370656</a></li>
                        </ul>
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="bx bxl-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a></li>
                            <li><a href="#" target="_blank"><i class="bx bxl-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="copyright-area">
                <p>Copyright @ 2021 Coded Sparrow. </p>
            </div>
        </div>
    </footer>
    <!-- End Footer Area -->

    <div class="go-top"><i class='bx bx-chevron-up'></i></div>

    <!-- jQuery Min JS -->
    <script src="js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Appear Min JS -->
    <script src="js/jquery.appear.min.js"></script>
    <!-- Odometer Min JS -->
    <script src="js/odometer.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- MeanMenu JS -->
    <script src="js/jquery.meanmenu.js"></script>
    <!-- WOW Min JS -->
    <script src="js/wow.min.js"></script>
    <!-- Message Conversation JS -->
    <script src="js/conversation.js"></script>
    <!-- AjaxChimp Min JS -->
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator Min JS -->
    <script src="js/form-validator.min.js"></script>
    <!-- Contact Form Min JS -->
    <script src="js/contact-form-script.js"></script>
    <!-- Particles Min JS -->
    <script src="js/particles.min.js"></script>
    <script src="js/coustom-particles.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
</body>

</html>