<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Covid Help Resources like medicines, hospital beds and oxygen cylinders. Emergancy oxygen supply informations."
    />
    <meta name="keywords" content="Covid-19, Covid help, covid support , covid medical Emergancy, covid oxygen supply,
    covid oxygen help, hospital beds , hostipal beds with oxygen , oxygen cylinders, plasma,  tisana, tisana tech, tisana tech solution, tisana tech solution pvt ltd">
    <meta name="author" content="Akash Kumar Verma">

      <!-- Bootstrap Min CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css">
    

    <title>Tisana Tech - Covid Care | Covid Help | Covid Support</title>
  </head>
  <body>
       <!-- Start Navbar Area -->
    <div class="navbar-area bg-white py-0">
        <div class="strax-nav-header">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                  <a class="navbar-brand" href="index"><img src="img/logo.png" alt="logo" width="40%!important"></a>                 
                    <div class="collapse-navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav" >
                            <li class="nav-item">
                                <a href="/" class="nav-link">
                                    Home
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                <a href="covid" class="nav-link active">Covid Care</a>
                            </li>

                            <li class="nav-item">
                                <a href="/" class="nav-link">Be a volunteer</a>
                            </li>

                            <li class="nav-item">
                                <a href="/" class="nav-link">Add information </i></a>
                              
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="mainwraper">
      <div class="selectform--wraper">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
              <div class="formcovid--resource">
                <form>
                  <div class="card">
                    <div class="card-header headerform"><h4 class="text-white mb-0">Add Covid Help Resource</h4></div>
                    <div class="card-body">
                      <div class="cardcovid--main">
                        <div class="form-group formfill-col">
                          <label class="label-txt">Name *</label>
                          <input type="text" placeholder="Enter name" class="form-control formCont-fill">
                        </div>
                        <div class="form-group formfill-col">
                          <label class="label-txt">Resource Type *</label>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Oxygen</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Hospital Beds - With Oxygen</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Hospital Beds - Without Oxygen</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Remdesivir</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Medicines</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Plasma</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Food</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Ambulance</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Emergency Services</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Testing</span>
                          </div>
                          <div class="radio-col">
                            <input type="checkbox" class="radio-fill">
                            <span>Doctor Consultation</span>
                          </div>
                          <!-- <div class="radio-col d-flex align-items-center">
                            <input type="checkbox" class="radio-fill">
                            <span class="otherinput d-flex align-items-center">Other: <input type="text" class="form-control formCont-fill"></span>
                          </div> -->
                        </div>
                        <div class="form-group formfill-col">
                          <label class="label-txt">Phone</label>
                          <input type="text" placeholder="Enter phone no" class="form-control formCont-fill">
                        </div>
                        <div class="form-group formfill-col">
                          <label class="label-txt">Address</label>
                          <input type="text" placeholder="Enter Address" class="form-control formCont-fill">
                        </div>
                        <div class="form-group formfill-col">
                          <label class="label-txt">State *</label>
                          <select class="form-control formCont-fill">
                            <option>Choose</option>
                            <option>Bihar</option>
                          </select>
                        </div>
                        <div class="form-group formfill-col">
                          <label class="label-txt">Details</label>
                          <input type="text" placeholder="More details" class="form-control formCont-fill">
                        </div>
                        <div class="form-group formfill-col">
                          <label class="label-txt">City</label>
                          <input type="text" placeholder="Your answer" class="form-control formCont-fill">
                        </div>
                        <div class="form-group formfill-col">
                          <label class="label-txt">Email</label>
                          <input type="email" placeholder="Email" class="form-control formCont-fill">
                        </div>
                        <div class="form-group formfill-col">
                          <label class="label-txt">Link</label>
                          <input type="text" placeholder="Enter link" class="form-control formCont-fill">
                        </div>
                        <div class="form-group formfill-col text-center">
                          <button type="submit" class="btn btn-form">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
